<style>

/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(219, 219, 219);
}

.container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* Side menubar section */
nav{
  background: #fff;
}
.side_navbar{
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.side_navbar label{
  color: rgb(59, 72, 73);
  margin: 1rem 3rem;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.side_navbar input{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.75em;
  color: rgb(128, 134, 138);
  background-color: #fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.side_navbar input:hover{
  background: rgb(235, 235, 235);
}
.side_navbar .active{
  border-left: 2px solid rgb(100, 100, 100);
}
.side_navbar input:active{
  background: rgb(67, 70, 74);
}

/* Main Body Section */
.main-body{
  width: 70%;
  padding: 1rem;
}
.promo_card{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: rgb(67, 70, 74);
}
.promo_card h1, .promo_card span, button{
  margin: 10px;
}

.btn{
  background-color: rgb(67, 70, 74);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  margin-right: 20px;
}
.btn:hover{
  background: rgb(96, 97, 97);
}
.btn:active{
  background: rgb(26, 25, 25);
}

</style>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>HOME | BVRITH</title>
  <link rel="stylesheet" href="style.css" />
  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>
<body>
  <form action = "logoutsubmit" method = "GET">
    <div align="right">
      <input type = "submit" class = "btn" value = "LOGOUT" style="color: white;">
    </div>
  </form>
  <h4 style="color: rgb(50, 78, 114);">&nbsp;&nbsp; Welcome <%= data.Name%> </h4>
  
  <div class="container">
    <nav>
      <div class="side_navbar">
        <label align="center">Main Menu</label>
        <form action = "/biosubmit" method = 'GET'>
          <input type = "text" name = "email" value = <%= data.Email%> hidden readonly>
          <input type = "text" name = "pwd" value = <%= data.Password%> hidden readonly>
          <input type = "submit" value ="Bio Data" >
        </form>

        <form action = "/profilesubmit" method = 'GET'>
          <input type = "text" name = "email" value = <%= data.Email%> hidden readonly>
          <input type = "text" name = "pwd" value = <%= data.Password%> hidden readonly>
          <input type = "submit" value ="View Profile" >
        </form>

        <form action = "/aboutsubmit" method = 'GET'>
          <input type = "text" name = "email" value = <%= data.Email%> hidden readonly>
          <input type = "text" name = "pwd" value = <%= data.Password%> hidden readonly>
          <input type = "submit" value ="About" >
        </form>

        <form action = "/coursesubmit" method = 'GET'>
          <input type = "text" name = "email" value = <%= data.Email%> hidden readonly>
          <input type = "text" name = "pwd" value = <%= data.Password%> hidden readonly>
          <input type = "submit" value ="References" >
        </form>

        <form action = "/timetablesubmit" method = 'GET'>
          <input type = "text" name = "email" value = <%= data.Email%> hidden readonly>
          <input type = "text" name = "pwd" value = <%= data.Password%> hidden readonly>
          <input type = "submit" value ="Time Table" >
        </form>

        <form action = "feedbacksubmit" method = 'GET'>
          <input type = "text" name = "email" value = <%= data.Email%> hidden readonly>
          <input type = "text" name = "pwd" value = <%= data.Password%> hidden readonly>
          <input type = "submit" value ="Feedback" >
        </form>

        <form action = "/complaintsubmit" method = 'GET'>
          <input type = "text" name = "email" value = <%= data.Email%> hidden readonly>
          <input type = "text" name = "pwd" value = <%= data.Password%> hidden readonly>
          <input type = "submit" value ="Complaints" >
        </form>

      </div>
    </nav>

    <div class="main-body">
      <h2>Dashboard</h2>
      <div class="promo_card">
       <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPxs-8q1ugbqzOBX4ip7z_6SXZ0YL10JjMThuYZshQfg&s">
        <h1>Welcome to BVRITH STUDENT PORTAL</h1>
      </div>
      </div>

</body>
</html>
